.header {
    background-color: #203259;
    font-size: 28px;
    padding: 2em;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

#newspaper {
    height: 40px;
    width: 40px;
}